$white: white;
$gray: #676767;
$light: #93cf5f;

@mixin change-border-radius($px) {
  -moz-border-radius: $px; /* Firefox */
  -webkit-border-radius: $px; /* Safari, Google Chrome */
  -khtml-border-radius: $px; /* KHTML */
  -o-border-radius: $px; /* Opera */
  -ms-border-radius: $px; /* IE8 */
  -icab-border-radius: $px; /* Icab */
  border-radius: $px; /* CSS3 */
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

body, html {
  height: 100%;
}

body {
  background-image: url("../img/bg.png");
}

.wrap {
  height: auto;
  min-height: 100%;
  width: 90%;
  margin: 0 auto;
}

.supernavigation {
  background-image: url("../img/bg.png");
  margin: 10px 0;
  text-align: right;
  a {
    margin-right: 15px;
    text-decoration: none;
    color: $gray;
    font-family: 'ubuntumedium';
    &:hover {
      color: $white;
      text-decoration: solid;
    }
  }
}

.head-title {
  text-align: center;
  font-size: 1.2em;
  color: $white;
  a, a:hover {
    text-decoration: none;
    color: inherit;
  }
  p {
    font-family: 'ubuntulight';
    text-align: center;
    margin-top: -15px;
    letter-spacing: 0.06em;
  }
}

.main-header-text {
  font-family: 'ubuntumedium';
}

.header-quote-author {
  font-style: italic;
  line-height: 2em;
}

.navigation {
  font-family: 'ubuntumedium';
  height: 40px;
  background-color: $white;
  margin: 20px 0 20px;
  letter-spacing: 0.08em;
  @include change-border-radius(3px);
  ul {
    text-align: center;
    display: table;
    margin: 0 auto;

  }
  li {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    &:last-child a {
      border-right: none;
    }

  }
  a {
    display: inline-block;
    text-decoration: none;
    color: $gray;
    padding: 0 15px;
    border-right: 1px solid $gray;
    &:hover {
      color: $light;
    }
  }
}

.main {
  padding-bottom: 150px;
}

.content {
  margin-right: 28%;
}

.sidebar {
  background-color: $white;
  width: 26%;
  float: right;
  border: 3px solid $gray;
  position: relative;
  @include change-border-radius(3px);
}

.side-title {
  padding: 1.3% 8% 2.6% 2%;
  float: left;
  width: 100%;
}

.side-content {
  display: inline-block;
  text-align: justify;
  margin: 4% 4% 6% 6%;
  line-height: 1.3;
  color: #565656;
  img {
    width: 70%;
    clear: both;
  }
}

.post-header {
  display: inline-block;
  width: 100%;
}

.post-content-proceed, .post-content-cut {
  display: flex;
  justify-content: flex-end;
  color: $gray;
  text-decoration: underline;
  font-family: 'ubuntumedium';
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.post {
  position: relative;
  width: 100%;
  background-color: $white;
  display: inline-block;
  margin: 0 10px 20px 0;
  border: 3px solid $gray;
  @include change-border-radius(3px);

}

.post-title, .post-date, .side-title {
  position: relative;
  background-color: $gray;
  font-family: 'ubuntumedium';
  color: $white;
  letter-spacing: 0.03em;
  min-width: 12%;
}

.post-title {
  padding: 0.5% 3% 1% 2%;
  span {
    text-align: center;
  }
}

.post-tags {
  display: block;
  margin-left: 20px;
  font-size: 0.9em;
  a {
    color: $gray;
    text-decoration: underline;
    font-family: 'ubuntumedium';
    &:hover {
      text-decoration: none;
      color: $gray;
    }
  }
}

.post-date {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 0.5% 2.5% 0.5% 3%;
  border-top-right-radius: 3px;
}

.wrap-but {
  float: right;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.post-edit, .post-delete {
  color: $white;
  display: inline-block;
}

.post-edit {
  margin-right: 10px;
}

.post-content, .post-content-small, .post-content-big {
  text-align: justify;
  margin: 30px 10px 15px;
  line-height: 1.3;
  color: #565656;
  white-space: normal;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.footer {
  position: relative;
  height: 150px;
  margin: -150px 50px 0 0;
  clear: both;
  text-align: center;
}

.footer-links {
  margin: 5.4545% 1.5% 0 0;
  float: right;
  display: flex;
  justify-content: flex-end;

}

.icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: url("../img/social.png");
}

.vk .icon {
  background-position: 0 0;
  cursor: pointer;
  &:hover {
    background-position: -150px 0;
  }
}

.fb .icon {
  background-position: -50px 0;
  cursor: pointer;
  &:hover {
    background-position: -200px 0;
  }
}

.insta .icon {
  background-position: -100px 0;
  cursor: pointer;
  &:hover {
    background-position: -250px 0;
  }
}

.create-button {
  background-color: $gray;
  color: $white;
  font-family: 'ubuntumedium';
  padding: 3px 5px;
}

/*----------------------------------- */
@media screen and (max-width: 590px) {

  .navigation a {
    padding: 0 10px;
    margin-top: 0;
  }

  @media screen and (max-width: 530px) {

    .navigation a {
      padding: 0 5px;
    }
    @media screen and (max-width: 480px) {
      .content, .post {
        margin: 3% 0;
      }

      .sidebar {
        margin-bottom: 7%;
        width: inherit;
      }

      .navigation ul, .navigation li {
        display: block;
        width: inherit;
      }
      .navigation {
        height: 240px;
      }

      .navigation li {
        border-bottom: 1px dashed $gray;
      }

      .navigation a {
        border-right: none;
        padding: 10px;
        /* margin-top: 10px; */

      }

      .navigation > ul > li:last-child {
        border-bottom: none;
      }

      .supernavigation {
        font-family: 'ubuntumedium';
        text-align: center;
        .username {
          color: $white;
        }
        a.logout {
          display: inline-block;
          margin: 0 5px;
          color: $gray;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
            color: inherit;
          }
        }
      }

      .footer-links {
        /* margin: 5.4545% auto; */
        float: none;
        /* display: flex; */
        justify-content: center;

      }

      .footer {
        height: 90px;
        margin: -90px 50px 0 50px;
      }

      .main {
        padding-bottom: 90px;
      }
      @media screen and (max-width: 320px) {

        .footer {
          height: 50px;
          margin: -50px 30px 0 0;
        }

        .icon {
          width: 25px;
          height: 25px;
          margin-left: 10px;
          background: url("../img/social.png");
        }

        .vk .icon {
          background-position: -300px 0;
        }

        .vk .icon:hover {
          background-position: -300px -25px;
        }

        .fb .icon {
          background-position: -325px 0;
        }

        .fb .icon:hover {
          background-position: -325px -25px;
        }

        .insta .icon {
          background-position: -350px 0;
        }

        .insta .icon:hover {
          background-position: -350px -25px;
        }

        .main {
          padding-bottom: 50px;

        }
        @media screen and (max-width: 230px) {

          .supernavigation a {
            margin-right: 5px;
            font-size: 0.9em;
          }

          .footer {
            margin: -50px 0 0 0;
          }
        }
      }
    }
  }

}
